*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

keystore.properties
fastlane_service_account.json
upload-keystore.jks
/buildSrc/build/*
/.idea/

./fastlane/report.xml
